{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>
                    Application Error
                </h1>
                <div class="alert-danger">
                    {% for e in error  %}
                        <p>{{ e }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
