{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item active" href="/">Sign Up</a>
    </nav>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Please activate your account: <a href="$" class="btn btn-success">aqui!</a>
            </div>
        </div>
    </div>

{% endblock %}