{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{{ path('welcome') }}">Welcome</a>
        <a class="breadcrumb-item active" href="{{ path('requirement') }}">Deposit</a>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Deposit Requirement</h1>
                <p>Your deposit requirement was received, please wait for its approval</p>
                <a href="{{ path('welcome') }}" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>

{% endblock %}