{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item active" href="/">Home</a>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome!</h1>
                <p>Thanks for banking with us!</p>
                <p>If you don't have an account, please <a href="/sign-up" class="btn btn-outline-success">Sign Up</a></p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit, lacus primis pharetra parturient tempus etiam,
                    mattis platea sodales sed senectus interdum. Commodo blandit fames nisi cursus dictumst primis neque luctus,
                    libero ut lobortis semper mattis diam aliquet aenean, torquent sociosqu felis scelerisque eros egestas pellentesque.
                    Eros cursus libero diam natoque etiam suscipit, quis bibendum mus semper a vehicula urna,
                    nam aliquam fermentum interdum curae.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Our products</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit, lacus primis pharetra parturient tempus etiam,
                    mattis platea sodales sed senectus interdum. Commodo blandit fames nisi cursus dictumst primis neque luctus,
                    libero ut lobortis semper mattis diam
                </p>
            </div>

        </div>
    </div>

{% endblock %}
